@import "tailwindcss";

@theme {
  --color-primary: #C2C2C2;     
  --color-secondary: #00CED1;   
  --color-error: #C44536;         
  --color-success: #2E9D63;      
  --color-warning: #C47D0A;   
  --color-border: #D6D4CB;
  --color-card-background: #121212;
  --color-text: #D6D4CB;
  --color-background: #121212;
  --color-foreground: #0E0E0E;
}

@layer base {
  html {
    @apply bg-background text-text;
  }
}