---
import type { HeroSection } from "../../lib/sectionTypes";

import InteractiveCarousel from "../InteractiveCarousel";
import { Button } from "../ui/button";

const data: HeroSection = Astro.props.data;
const { title, description, carouselImages, callToActionLabel } = data;
---

<div class="w-full h-[70vh] mx-auto my-16">
  <div class="flex flex-col h-full">
    {title && <h1 class="text-5xl font-bold tracking-wider">{title}</h1>}
    {description && <p class="text-lg mt-4">{description}</p>}

    <div class="relative w-full h-full mt-6">
      <div class="overflow-hidden w-full h-full rounded-3xl">
        <InteractiveCarousel imagesArray={carouselImages} client:visible />
      </div>
      <div class="absolute bottom-0 right-0 mb-3 mr-3 z-50">
        <Button size="2xl" className="text-lg">
          {callToActionLabel}
        </Button>
    </div>
  </div>
</div>
