---
// import { useColorsCssVars } from "../lib/utils/hooks/useColorsCssVars";

const { data } = Astro.props;
// const colorsCssVars = useColorsCssVars({ settings: data.settings });
---

<section id={`section-${data._key}`} class="section-padding">
  <!-- <style>
    {colorsCssVars}
  </style> -->
  <!-- Render section content based on type -->

  <!-- Add more section types as needed -->
</section>