---
import '../styles/global.css'
import ThemeProvider from '../components/ThemeProvider.astro'
import { useSettings } from '../lib/queries/settings'

const settings = await useSettings()

const spaceBetweenSections = `${settings.spaceBetweenSections || 24}px`

const primary = settings.colorScheme.primary.hex;
const secondary = settings.colorScheme.secondary.hex;
const error = settings.colorScheme.error.hex;
const success = settings.colorScheme.success.hex;
const warning = settings.colorScheme.warning.hex;
const border = settings.colorScheme.border.hex;
const cardBackground = settings.colorScheme.cardBackground.hex;
const text = settings.colorScheme.text.hex;
const background = settings.colorScheme.background.hex;
const foreground = settings.colorScheme.foreground.hex;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<ThemeProvider>
			<style define:vars={{ spaceBetweenSections }}>
				body {
					--space-between-sections: var(--spaceBetweenSections);
				}
			</style>

			<style define:vars={{ primary, secondary, error, success, warning, border, cardBackground, text, background, foreground }}>
				@import "tailwindcss";

				@theme inline {
					--color-primary: var(--primary);     
					--color-secondary: var(--secondary);   
					--color-error: var(--error);         
					--color-success: var(--success);      
					--color-warning: var(--warning);   
					--color-border: var(--border);
					--color-card-background: var(--cardBackground);
					--color-text: var(--text);
					--color-background: var(--background);
					--color-foreground: var(--foreground);
				}

				@layer base {
					html {
						@apply bg-background text-text;
					}
				}
			</style>

			<main class="flex flex-col grow gap-y-[calc(var(--space-between-sections)*.75)] sm:gap-y-[--space-between-sections]">
				<slot />
			</main>
		</ThemeProvider>
	</body>
</html>