---
import '../styles/global.css'
import ThemeProvider from '../components/ThemeProvider.astro'
import { useSettings } from '../lib/queries/settings'

const settings = await useSettings()

const spaceBetweenSections = `${settings.spaceBetweenSections || 24}px`

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<ThemeProvider>
			<style define:vars={{ spaceBetweenSections }}>
				body {
					--space-between-sections: var(--spaceBetweenSections);
				}
			</style>

			<main class="flex flex-col grow gap-y-[calc(var(--space-between-sections)*.75)] sm:gap-y-[--space-between-sections]">
				<slot />
			</main>
		</ThemeProvider>
	</body>
</html>